.box {width: 200px
    ; height: 200px;
    padding: 10px;
background-color: red;}
.box1 {width: 200px;
height: 200px;
padding: 10px;
background-color: blue;}
.box2 {width: 200px;
height: 200px;
padding: 10px;
background-color: brown;
}
.box3 {width: 200px;
height: 200px;
padding: 10px;
background-color: chartreuse;
}
.box4 {width: 200px;
height: 200px;
padding: 10px;
background-color: darkmagenta;
}
.box5 {width: 200px;
height: 200px;
padding: 10px;
background-color: darksalmon;
}